* {
  box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background: linear-gradient(rgb(255, 255, 255) , rgb(152, 188, 196));
}
tr{
  min-height: 35px;
}
.body_login{
    background: linear-gradient(rgb(0, 128, 107) , rgb(0, 103, 121));
}

/* main */
main {
    margin-top: 65px;
    min-height: 90vh;
}

/* Login */
.form-login{
  background: rgba(255, 255, 255, 0.2); /* Fond semi-transparent */
  backdrop-filter: blur(10px); /* Le flou */
  -webkit-backdrop-filter: blur(10px); /* Compatibilité Safari */
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 20px;
  color: white;
}
.link-blue{
  color: rgb(122, 202, 255);
  font-weight: bold;
}

/* liste */
.green{
  background-color: green;
  color: white;
  font-weight: bold;
  padding: 5px 15px 5px 15px;
  border-radius: 10px;
}
.grisee{
  font-style: italic;
  color: rgba(0, 0, 0, 0.664);
}

/* fiche */
.image{
  min-width: 250px;
  min-height: 200px;
  background-color: rgb(224, 224, 224);
}


/* 
body , div , main ,section{
  border: 1px solid red;
} */